@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  font-family: "Poppins", sans-serif;
  background-color: #e7e7e7;
  background-image: url("../Imagenes/background.png");
  background-size: cover;
  background-attachment: fixed;
  color: #222;
}

h2{
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #0199ad;
  text-transform: uppercase;
}

h5{
  text-transform: uppercase;
  font-weight: 600;
}

p{
  line-height: 1.5;
}

img{
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.navbar{
  background-color: #0199ad !important;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

.navbar-brand img{
  height: 50px;
}

.navbar-nav .nav-link{
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff !important;
  transition: transform 0.3s, color 0.3s;
}

.navbar-nav .nav-link:hover{
  color: #FFD500 !important;
}

.dropdown .dropdown-menu{
  transform: translateY(10px);
  transition: all 0.3s ease;
}

.dropdown.show .dropdown-menu{
  transform: translateY(0);
}

.dropdown-item:hover{
  color: #0199ad;
}

.carousel-item img{
  height: 80vh;
  width: 100%;
  object-fit: cover;
  border-radius: 0;
}

.carousel-caption h5{
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  text-shadow: 4px 4px 10px rgb(0, 0, 0);
}

.carousel-caption p{
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;
  text-shadow: 4px 4px 10px #000000;
}

.carousel-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.39);
}

.carousel-caption{
  position: absolute;
  z-index: 2;
}

#mas {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

#mas:target{
  max-height: 2000px;
  opacity: 1;
}

#parrafo:has(#mas:target) a[href="#mas"]{
  display: none !important;
}

#parrafo a{
  color: #ffffff;  
  background-color: #080808;
  text-align: center;
  border-radius: 7px;
  text-decoration: none;
  padding: 5px;
  margin: 5px 0;
  text-transform: uppercase;
  font-size: .9em;
  font-weight: 600;
  letter-spacing: 1px;
  width: 30%;
  transition: all 0.6s ease;
  display: block;
}

#parrafo a:hover{
  color: #000000;
  background-color: #0199ad;
  font-weight: 600;
}

#parrafo img{
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.219); 
  filter: brightness(90%) saturate(110%);
}

#personajes h2{
  margin-top: 10px;
}

.card{
  border: none;
  border-radius: 20px;
  overflow: hidden;
  transition: 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.336);
}

.card:hover{
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.459);
}

.card img{
  background-color: #83838365;
  filter: brightness(90%) saturate(120%);
}

#video p{
  margin-bottom: 0;
}

#video .ratio{
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.466);
  filter: grayscale(100);
  transition: all 0.8s ease;
}

#video .ratio:hover{
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.274);
  filter: grayscale(0);
}

#trailer{
  max-width: 800px;
  margin: 0 auto;
}

label{
  font-weight: 600;
}

textarea{
  resize: none;
  height: 125px;
}

#formulario .form-control{
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.336);
}

#formulario .form-select{
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.336);
}

.btn-enviar{
  width: 20%;
}

#formulario .btn{
  color: #ffffff;  
  background-color: #080808;
  font-weight: 600;
  transition: all 0.5s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.274);
}

#formulario .btn:hover{
  color: #000000;
  background-color: #0199ad;
  transform: translateY(-3px);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.274);
}

footer{
  background-color: #000607;
  color: #ffffff;
}

footer img{
  width: 6%;
  transition: transform 0.3s;
}

footer img:hover{
  transform: scale(1.2);
}

section{
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease-out;
}

section.show{
  opacity: 1;
  transform: translateY(0);
}

#carousel{
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 1100px)
{
  body{
    background-image: url("../Imagenes/background2.png");
  }

  .navbar-brand img{
    height: 45px;
  }

  header .dropdown-menu{
    background-color: #0000001e;
  }

  header .dropdown-item{
    color: #FFD500;
  }

  #parrafo a{
    width: 100%;
  }

  #video p{
    padding: 0 !important;
  }

  .btn-enviar{
    width: 100% !important;
  }

  .navbar-nav .nav-link{
    transform: none;
    transition: none;
  }
  .dropdown .dropdown-menu{
    transform: none;
    transition: none;
  }
  .dropdown.show .dropdown-menu{
    transform: none;
    transition: none;
  }

  #carousel{
    transform: none;
    transition: none;
  }

  .card{
    transform: none;
    transition: none;
  }

  .card:hover{
    transform: none;
    transition: none;
  }

  #video .ratio{
    transform: none;
    transition: none;
  }

  #formulario .btn:hover{
    transform: none;
    transition: none;
  }

  footer img{
    transform: none;
    transition: none;
  }
  footer img:hover{
    transform: none;
    transition: none;
  }

  section{
    transform: none;
    transition: none;
  }

  section.show{
    transform: none;
    transition: none;
  }

  #video .ratio{
    filter: grayscale(0);
  }

}

@media (max-width: 764px)
{
  #personajes .card{
    flex-direction: row;    
    align-items: center;
    text-align: left !important;
    gap: 1rem;
  }

  .card img{
    background-color: #00000000;
    width: 450px;
  }

  #personajes .card-body{
    padding: 0;
  }

  footer img{
  width: 10%;
  }
}
